name: BrowserStack Robot Tests

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          pip install robotframework-appiumlibrary

      - name: Run Robot Framework
        env:
          BS_USER: ${{ secrets.BROWSERSTACK_USERNAME }}
          BS_KEY: ${{ secrets.BROWSERSTACK_ACCESS_KEY }}
        run: |
          robot --variable PLATFORM:iOS tests/fresh-test.robot